* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #edf2f4;
    font-size: 1.3rem;
}

#header-page {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #03045e;
}

#menu ul {
    list-style: none;
    display: flex;
    gap: .1rem;
    align-items: center;
}

#menu ul a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    padding: .8rem 1rem;
    transition: all .3s;
}

#menu ul a:hover {
    background-color: rgba(0, 0, 225, .5);
}

main {
    padding: 100px 0;
}

.container {
    max-width: 700px;
    margin: 0 auto 2rem;
    text-align: center;
}

.container h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

section p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    color: #fff;
    line-height: 1.6;
}

section p:first-of-type {
    background: url("images/images1.jpg") center / cover no-repeat;
}

section p:last-of-type {
    background: linear-gradient(to right, #03045e, #3a86ff);
}

footer {
    background-color: #000;
    text-align: center;
    color: lightgray;
    padding: 50px 150px;
}